@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Rancho&display=swap');
:root{
    --bg-main: rgba(0, 0, 0, 0.4);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    font-family: "Rancho", cursive, 'EB Garamond', serif;
    background:linear-gradient(rgba(255, 89, 89, 0.5),rgba(255, 0, 0, 0.6)) fixed;
}

.logo-sticky{
    z-index: 5;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 120%;
    transition: all 1.1s ease-in-out;
    transform: translateY(-50%);
}

.logo-sticky a{
    position: relative;
}

.logo-sticky a p{
    opacity: 0;
    transition: all .3s ease-in-out;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 40%;
}
.logo-sticky a:hover p{
    opacity: 1;
    right: 110%;
}

.logo-new {
    opacity: 1;
    left: 92%;
}

.logo-sticky img{
    height: 120px;
    padding: 20px 0 20px 0;
}

nav{
    background: rgba(0, 0, 0, 0.459);
}

nav a{
    font-weight: 400;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.all p{
    color: #fff;
    font-size: 2em;
    align-self: center;
}

.all{
    margin: 10px;
    padding: 20vh;
    background-color: rgba(0,0,0,1);
    min-height: 60vh;
}

nav a:hover{
    color:  rgb(255, 119, 131);
}

nav{
    display: flex;
    justify-content: space-around;
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
}

.big-cat{
    margin: auto;
    width: 80%;
    padding-top: 50px;
    animation: 3s ease;
    animation-name: cat;
}

.big-cat img{
    width: 100%;
}

.navbar > img{
    padding-right: 9px;
    height: 40px;
}

.about-grid{
    padding: 60px 0 60px 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.about img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-grid .text{
    width: 100%;
    font-size: 1.3rem;
    background: var(--bg-main);
    display: flex;
}

.about-grid .text p{
    padding: 25px;
    font-size: 1.6rem;
    align-self: center;
}

.about h1, .anatomy h1, .breeds h1, .care h1{
    text-align: center;
    font-size: 2.5rem;
    padding: 40px;
    opacity: 0;
    transition: all .7s ease-in-out;
}


.about h1.new,
.anatomy h1.new,
.about-grid img.new, 
.breeds h1.new,
.care h1.new{
    opacity: 1;
}

section{
    padding: 60px;
    width: 80%;
}

.classification{
    position: relative;
    height: 50%;
}

.classification .text{
    letter-spacing: 6px;
    position: absolute;
    top: 0;
    width: 50%;
    font-size: 2rem;
    line-height: 50px;
    bottom: 5px;
    background: rgba(0,0,0,0.4);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.classification span{
    border-bottom: 3px solid #fff;
}

.about-grid img{
    height: 400px;
    opacity: 0.2;
    transition: all 1.3s ease-in-out;
}

.anatomy .container{
    background: var(--bg-main);
    position: relative;
}

.anatomy-img img{
    width: 100%;
}

.anatomy-img{
    display: flex;
    justify-content: center;
    padding: 70px;
    transform: translateX(-30%);
    transition:  .6s linear;
    opacity: 0;
}

.new-anatomy {
    transform: translateX(0%);
    opacity: 1;
}

.slide-img img{
    opacity: .8;
    height: 700px;
    width: 900px;
    object-fit: cover;
}

.slide-img{
    position: relative;
}

.slide-img p{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.breeds .container{
    margin: auto;
    width: 900px;
    overflow: hidden;
    position: relative;
}

.slide{
    scroll-snap-type: mandatory;
    margin: auto;
    display: flex;
    width: 100%;
    height: 600px;
}

.breeds button{
    position: absolute;
    top: 50%;
    border: none;
    font-size: 50px;
    background: none;
    border-radius: 6px;
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px ;
    color: rgba(255, 251, 251, 0.4);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.breeds button:hover{
    background: rgba(0,0,0, .6);
}

#next{
    right: 0;
}

.content-breed{
    padding: 60px;
    background: var(--bg-main);
}

.care .container{
    background: var(--bg-main);
    padding: 60px;
    font-size: 1.4rem;
}

.care ul{
    padding: 20px;
}

footer{
    background-color: rgba(39, 39, 39, 0.835);
}

footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger{
    float: right;
    padding: 20px;
    display: none;
}

.burger div{
    margin: 5px;
    height: 3px;
    width: 25px;
    background: rgba(39, 39, 39, 0.835);
}

.me{
    padding: 40px;
}

.icon{
    padding: 40px;
}

.icon a{
    padding: 0 60px 0 60px;
}

.icon a:hover i{
    color:  rgb(255, 119, 131);
}

@keyframes cat{
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 1260px){
    .logo-new{
        left: 84%;
    }
}

@media (max-width:1447px){
    .slide-img img {
        width: 500px;
        height: 400px;
    }
    .about-grid {
        grid-template-columns: 100%;
    }

    .classification .text {
        font-size: 1.2rem;
        letter-spacing: 1.6px;
        line-height: normal;
    } 
    
    .breeds .container {
        width: 500px;
        height: 400px;
    }

}

@media (max-height:768px){
    .slide{
        width: 374px;
    }

    .anatomy-img{
        padding: 20px;
    }

    .breeds .container{
        width: 100%;
    }
}

@media (max-width: 638px){
    .content-breed{
        padding: 0;
    }

    .breeds{
        padding: 0;
    }
    
    section{
        width: 100%;
        padding: 15px;
    }

    .logo-sticky{
        display: none;
    }

    .slide-img p{
        left: 40%;
    }

    .icon a{
        padding: 6px;
    }

    nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        float: right;
        height: 100%;
        width: 50%;
        z-index: 4;
    }

    .burger {
        display: block;
        position: relative;
    }
}


